# build/bin  # 允许提交二进制文件
node_modules
app/frontend/dist/
app/frontend/wailsjs/
# app/build/bin/  # 允许提交二进制文件
app/build/windows/icon.ico
frontend/package.json.md5
.vscode
.idea

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json
